html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}

/* screen */
.container-fluid {
    background: none;
    padding: 15px;
    border-radius: 6px;
}

/* Login Page */

.login-page {
    background: url('../image/court.png') no-repeat center center;
    background-size: cover;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#loginCard {
    background: rgba(255, 255, 255, 0.1);
    /* transparent */
    backdrop-filter: blur(10px);
    /* glass effect */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* shadow */
    max-width: 400px;
    margin: 80px 50px 0 auto;
    border-radius: 15px;
}

.btn-box {
    background-color: #ff6a00;
    color: white;
}

.btn-box:hover {
    background-color: #e65c00;
}


/* Mobile view */

@media (max-width: 768px) {

    #loginCard {
        margin: 20px auto;
        width: 100%;
        max-width: 320px;
    }
}

footer {
    background: #2f3e46;
    color: #fff;
    text-align: center;
    padding: 6px;
    font-size: 13px;
}

/* For Printout */

@media print {
    body {
        display: block;
    }

    @page :first {
        margin-top: 30px;

    }

    @page {
        margin-top: 40px; /* apply ONLY to 2nd, 3rd, etc */
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .seal {
        display: none;
    }

    .no-print {
        display: none !important;
    }

    button {
        display: none;
    }

    h4,
    h5 {
        text-align: center;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th,
    td {
        border: 1px solid black !important;
        padding: 3px;
        font-size: 14px;
        font-family:Tahoma, Geneva, Verdana, sans-serif;
        vertical-align: top;
    }

    th:nth-child(1) {
        width: 6%;
    }

    th:nth-child(2) {
        width: 18%;
    }

    th:nth-child(3) {
        width: 23%;
    }

    th:nth-child(4) {
        width: 23%;
    }

    th:nth-child(5) {
        width: 15%;
    }

    th:nth-child(6) {
        width: 15%;
    }

}